In [1]:
import pandas as pd
import numpy as np

In [3]:
import os
os.getcwd()

'/Users/abhishekpandit/Dropbox/Work/DataKind/illinois'

In [14]:
df_acs = pd.read_csv('acs_2019_IL.csv')

In [31]:
df_acs.shape

(3123, 43)

In [28]:
df_acs.columns

Index(['state', 'county', 'tract', 'geoid', 'f_broadband', 'f_computer',
       'f_ba', 'f_black', 'f_hispanic', 'log_mhi', 'mhi', 'population',
       'households', 'broadband', 'computer', 'black', 'hispanic', 'mhi.1',
       'ba', 'den_computers', 'n_computer', 'n_broadband', 'den_black',
       'n_black', 'den_hispanic', 'n_hispanic', 'den_ba', 'n_ba',
       'nhh_computer', 'nhh_broadband', 'nhh_computer_any_internet',
       'nhh_computer_and_dialup', 'nhh_computer_and_broadband',
       'nhh_computer_no_internet', 'nhh_no_computer', 'den_age', 'n_children',
       'n_children_computer', 'n_children_computer_and_dialup',
       'n_children_computer_and_broadband', 'n_children_computer_no_internet',
       'n_children_no_computer', 'state_lkp'],
      dtype='object')

In [27]:
df_acs.describe()

,state,county,tract,geoid,f_broadband,f_computer,f_ba,f_black,f_hispanic,log_mhi,...,nhh_computer_no_internet,nhh_no_computer,den_age,n_children,n_children_computer,n_children_computer_and_dialup,n_children_computer_and_broadband,n_children_computer_no_internet,n_children_no_computer,state_lkp
count,3123.0,3123.00000,3123.000000,3.123000e+03,3.123000e+03,3.123000e+03,3.123000e+03,3.123000e+03,3.123000e+03,3110.000000,...,3123.000000,3123.000000,3123.000000,3123.000000,3123.000000,3123.000000,3123.000000,3123.000000,3123.000000,3123.0
mean,17.0,77.84342,550658.070445,1.707839e+10,-1.707679e+04,-1.707671e+04,-1.494257e+04,-1.494271e+04,-1.494274e+04,11.021341,...,116.240474,157.450208,3994.042267,924.236631,899.917707,1.065962,842.127121,56.724624,24.318924,17.0
std,0.0,59.65828,371654.169982,5.960782e+07,3.370392e+05,3.370392e+05,3.153218e+05,3.153218e+05,3.153218e+05,0.498528,...,90.546020,108.225979,1999.898186,572.032757,568.291095,6.939161,553.018746,79.491556,49.936912,0.0
min,17.0,1.00000,100.000000,1.700100e+10,-6.666667e+06,-6.666667e+06,-6.666667e+06,-6.666667e+06,-6.666667e+06,8.260000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.0
25%,17.0,31.00000,71450.000000,1.703171e+10,7.510000e-01,8.480000e-01,1.590000e-01,1.700000e-02,2.600000e-02,10.740000,...,56.000000,78.000000,2641.500000,553.000000,537.000000,0.000000,489.000000,0.000000,0.000000,17.0
50%,17.0,43.00000,804102.000000,1.704384e+10,8.230000e-01,8.980000e-01,2.620000e-01,5.200000e-02,7.500000e-02,11.030000,...,96.000000,141.000000,3735.000000,833.000000,806.000000,0.000000,743.000000,28.000000,0.000000,17.0
75%,17.0,115.00000,851700.500000,1.711500e+10,8.920000e-01,9.430000e-01,4.530000e-01,1.905000e-01,1.920000e-01,11.350000,...,155.000000,211.000000,4965.000000,1171.500000,1144.500000,0.000000,1085.000000,78.000000,28.000000,17.0
max,17.0,203.00000,990000.000000,1.720303e+10,1.000000e+00,1.000000e+00,9.590000e-01,1.000000e+00,9.910000e-01,12.430000,...,1431.000000,945.000000,28855.000000,8998.000000,8998.000000,196.000000,8989.000000,800.000000,703.000000,17.0

In [13]:
df_acs.columns

Index(['tract', 'max_dn', 'max_up', 'dn10', 'dn100', 'dn250', 'fiber_100u',
       'state'],
      dtype='object')

In [8]:
df_fcc = pd.read_csv('fcc_477_census_tract_IL.csv')
#flatten the tract
df_fcc.columns
#tract and download speeds

In [23]:
len(df_fcc['tract'])

3122

In [32]:
df_fcc['tract']

0       17001000100
1       17001000201
2       17001000202
3       17001000400
4       17001000500
           ...
3117    17203030501
3118    17203030502
3119    17203030601
3120    17203030602
3121    17203030700
Name: tract, Length: 3122, dtype: int64

In [11]:
df_ookla = pd.read_csv('ookla_combined_il.csv')

In [16]:
df_ookla.describe()

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,year,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,ALAND,AWATER
count,1.997970e+05,1.997970e+05,199797.000000,199797.000000,199797.000000,199797.000000,199797.0,199797.0,199797.000000,199797.000000,1.997970e+05,199797.000000,1.997970e+05,1.997970e+05
mean,2.854072e+14,1.170717e+05,24893.873041,36.214928,11.104051,3.446899,2021.0,17.0,96.735161,608574.855518,1.709734e+10,6085.748555,1.290986e+08,6.246931e+06
std,3.762726e+13,1.146838e+05,41970.118220,80.998154,24.732690,5.334243,0.0,0.0,60.958495,375251.922777,6.085695e+07,3752.519228,1.614937e+08,1.314949e+07
min,2.133330e+14,2.000000e+00,1.000000,0.000000,1.000000,1.000000,2021.0,17.0,1.000000,100.000000,1.700100e+10,1.000000,6.909400e+04,0.000000e+00
25%,2.311131e+14,3.154800e+04,5835.000000,14.000000,1.000000,1.000000,2021.0,17.0,31.000000,150200.000000,1.703183e+10,1502.000000,5.470195e+06,2.598900e+04
50%,3.022223e+14,8.852200e+04,13718.000000,20.000000,3.000000,2.000000,2021.0,17.0,97.000000,824005.000000,1.709786e+10,8240.050000,3.459053e+07,4.114410e+05
75%,3.200000e+14,1.745440e+05,23832.000000,33.000000,11.000000,4.000000,2021.0,17.0,149.000000,890102.000000,1.714995e+10,8901.020000,2.703310e+08,6.531985e+06
max,3.200023e+14,3.184026e+06,918340.000000,2292.000000,1112.000000,312.000000,2021.0,17.0,203.000000,980100.000000,1.720303e+10,9801.000000,7.757216e+08,7.251963e+07

In [17]:
df_ookla.columns

Index(['quadkey', 'avg_d_kbps', 'avg_u_kbps', 'avg_lat_ms', 'tests', 'devices',
       'type', 'quarter', 'year', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'AFFGEOID',
       'GEOID', 'NAME', 'LSAD', 'ALAND', 'AWATER', 'tile'],
      dtype='object')

In [30]:
df_ookla['devices']

0         11
1         16
2         27
3          2
4         12
          ..
199792     1
199793     1
199794     1
199795     3
199796     1
Name: devices, Length: 199797, dtype: int64

In [24]:
len(df_ookla['GEOID'])

199797

In [26]:
df_ookla[['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID']]

        STATEFP  COUNTYFP  TRACTCE        GEOID
0            17        31   804607  17031804607
1            17        31   802610  17031802610
2            17        31   804712  17031804712
3            17        11   965400  17011965400
4            17        31   820800  17031820800
...         ...       ...      ...          ...
199792       17        59   972800  17059972800
199793       17       151   971300  17151971300
199794       17        69   971000  17069971000
199795       17        69   971000  17069971000
199796       17        69   971000  17069971000

[199797 rows x 4 columns]

In [ ]:
df_ookla.join(df_)